<%= form_with(url: form_url, method: :post, local: true, multipart: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, value: flow&.title %>

  <%= form.label :brief %>
  <%= form.text_field :brief, value: flow&.brief %>

  <%= form.label :picture %>
  <%= form.file_field :picture %>
  <div class="file" data-bind="picture">
    <% if flow&.picture %>
      <img src="/media/<%= flow.picture %>/inline_image" />
    <% end %>
    <button class="button">pick file</button>
    <span>no file selected</span>
  </div>

  <div class="label">Public?</div>
  <%= form.check_box :public, checked: flow&.public? %>
  <label for="public"></label>

  <div class="label">Copyable?</div>
  <%= form.check_box :copyable, checked: flow&.copyable? %>
  <label for="copyable"></label>

  <div class="toolbar">
    <%= form.submit flow.nil? ? "Create" : "Update", class:"button" %>
    <%= link_to "Cancel", flows_path, class: "button -stripped" %>
  </div>
<% end %>