<%= form_with(url: form_url, method: :post, local: true, multipart: true) do |form| %>
  <%= form.label :title %>
  <%= form.text_field :title, value: flow&.title %>

  <%= form.label :brief %>
  <%= form.text_field :brief, value: flow&.brief %>

  <%= form.label :picture %>
  <%= form.file_field :picture %>

  <div class="label">Public?</div>
  <%= form.check_box :public, checked: flow&.public? %>
  <label for="public"></label>

  <div class="label">Copyable?</div>
  <%= form.check_box :copyable, checked: flow&.copyable? %>
  <label for="copyable"></label>

  <%= link_to "Cancel", flows_path, class: "button -stripped" %>
  <%= form.submit flow.nil? ? "Create" : "Update", class:"button" %>
<% end %>