<a href="<%= flows_new_path %>">Create flow</a>
<% @flows.each do |flow| %>
  <div>
    <div><%= flow.title %></div>
    <a href="/flows/<%= flow.identifier %>/edit">edit</a>
    <a href="/flows/<%= flow.identifier %>/editor">editor</a>
    <a href="/flows/<%= flow.identifier %>/execute">execute</a>
    <a href="/flows/<%= flow.identifier %>/delete">delete</a>
  </div>
<% end %>