<%= form_with(url: flows_create_path, method: :post, local: true) do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %>
  
    <%= link_to "Cancel", flows_path %>
    <%= form.submit "Save Flow" %>
  </div>
<% end %>
