<div class="container">
  <h1>Myself</h1>
  <%= form_with(url: "/myself/update", method: :post, local: true) do |form| %>
    <%= form.label :display_name, "Display name" %>
    <%= form.text_field :display_name, value: @current_user.display_name %>

    <hr/>

    <%= form.label :current_password, "Current password" %>
    <%= form.password_field :current_password %>

    <%= form.label :new_password, "New password" %>
    <%= form.password_field :new_password %>

    <%= form.label :new_password_repeat, "New password, again" %>
    <%= form.password_field :new_password_repeat %>

    <%= link_to "Cancel", "/flows", class: "button -stripped" %>
    <%= form.submit "Update", class: "button" %>
  <% end %>
</div>