<div class="internal">
  <div class="container">
    <h1>Sign In</h1>
    <%= form_with(url: do_sign_in_path, method: "post") do %>
      <%= label_tag(:email, "Email") %>
      <%= text_field_tag(:email) %>
      <%= label_tag(:password, "Password") %>
      <%= password_field_tag(:password) %>
      <%= submit_tag("Login", class: "button") %>
    <% end %>
  </div>
</div>