<!DOCTYPE html>
<html>
  <head>
    <title>Webfront</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'webfront', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'webfront', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: "shared/flash" %>
    <%= yield %>
  </body>
</html>
