<!DOCTYPE html>
<html>
  <head>
    <title>flowychat :: designer</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'editor', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'editor', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-flow-id="<%= @flow_id %>" data-authorization="<%= @user.authorization_token %>">
    <%= yield %>
  </body>
</html>
